<div class="container profile-page">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
           <%= image_tag @user.profile.avatar.url, class: 'avatar-prof-img' %>
           <h1 class="text-center"> <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1>
           <div class="job-title"><h3> <%= job_title_icon %> <%= @user.profile.job_title %> </h3></div>
           <div class="well pro-contact-block">
              <% if @user.plan_id == 2 %>
                <ul class="fa-ul">
                  <li><i class="fa fa-envelope"></i><span> <%= @user.profile.email  %></li> <br>
                  <li><i class="fa fa-phone"></i><span> <%= number_to_phone(@user.profile.phone_num, area_code: true)  %></li>
                </ul>
              <% else %>
                <h4 class="text-center">Upgrade to Pro to unlock contact info!</h4>
              <% end %>
            </div>
            <div class="well description-block">
              <h4 class="text-center"><%= @user.profile.description %></h4>
            </div>
        </div>
    </div>  
</div>