<div id="map-container">
    <div id="map"> </div> 
</div>
    

<div class="container-fluid">
    <div class="row">
        <h1 class="page-title text-center" id="contact-title">Contact Us</h1>
        <div class="col-md-4 col-md-offset-4">
            <div class="well well-form">
                <%= form_for @contact do |f| %>
                    <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :comment %>
                        <%= f.text_area :comment, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.submit "Submit", class: 'btn btn-default btn-lg btn-raised btn-block' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxzMzhb9Q-Bw5cO29-hM5y5aV_iWgl1Wo&callback=initMap"></script>